GenAPI/GenAPI.API/obj/
GenAPI/GenAPI.DAO/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
GenAPI/GenAPI.DAO/obj/
GenAPI/GenAPI.DataLayer/bin/
GenAPI/GenAPI.DataLayer/obj/
GenAPI/GenAPI.Domain/bin/
GenAPI/GenAPI.Domain/obj/GenAPI.Domain.csproj.nuget.cache
GenAPI/GenAPI.Domain/obj/GenAPI.Domain.csproj.nuget.g.props
GenAPI/GenAPI.Domain/obj/Debug/netcoreapp2.1/GenAPI.Domain.AssemblyInfo.cs
GenAPI/GenAPI.Domain/obj/Debug/netcoreapp2.1/GenAPI.Domain.AssemblyInfoInputs.cache
GenAPI/GenAPI.Domain/obj/
GenAPI/GenAPI.DomainServices/obj/
GenAPI/GenAPI.API/bin/
GenAPI/GenAPI.DAO/bin/
GenAPI/GenAPI.Migrations/bin/
GenAPI/GenAPI.Migrations/obj/
GenAPI/GenAPI.Models/obj/
GenAPI/GenAPI.Models/bin/
